DATABASE_URL="postgresql://postgres:postgres@localhost:5432/system"
SESSION_SECRET="super-duper-s3cret"

PASS_KEY="0123456789abcdef0123456789abcdef"

LDAP_HOST="ldap://localhost:1389"
LDAP_START_TLS="false"
LDAP_USERNAME="cn=admin,dc=example,dc=org"
LDAP_PASSWORD="adminpassword"
LDAP_BASE_DN="dc=example,dc=org"

LDAP_EMAIL_FIELD="sn"
LDAP_USER_GROUP="groupOfNames"
LDAP_FIRSTNAME="givenName"
LDAP_LASTNAME="displayName"
LDAP_PHOTO_FIELD="jpegPhoto"